.book_list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .author {
    font-size: 24px;
    font-weight: 600;
    margin: 20px;
  }

  .book {
    width: calc(25% - 24px);
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: relative;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    margin: 12px;

    @media (max-width: 1200px) {
      width: calc(33% - 24px);
    }

    @media (max-width: 1000px) {
      width: calc(50% - 24px);
    }

    @media (max-width: 768px) {
        width: 100%;
    }
  }
  
  .book:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .book_cover {
    width: 80%;
    height: auto;
    border: none;
    border-radius: 8px;
  }
  
  .book_title {
    font-size: 1.25rem;
    margin: 1rem 0;
    font-weight: bold;
    color: #333;
  }
  
  .book_author {
    font-weight: bold;
    color: #555;
  }
  
  .book_description {
    font-size: 0.875rem;
    color: #777;
    margin-bottom: 48px;
  }

  .container {
    margin: 20px;
  }

  .book_price {
    font-size: 1rem;
    font-weight: bold;
    color: #007bff; 
    display: flex;
    align-items: center;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    position: absolute;
    bottom: 20px;
    margin: auto;
    width: calc(100% - 40px);
  }

  .add_to_cart_button {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &.added {
      background-color: #849e4c;
    }
  }
  
  .add_to_cart_button:hover {
    background-color: #ccc; 
    color: #007bff;
  }