.container {
    text-align: center;
    padding: 2rem;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .header p {
    font-size: 1.25rem;
  }
  
  .featured_book {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-align: left;

    @media (max-width: 768px) {
        flex-direction: column;
    }
  }
  
  .book_cover img {
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 12px;
    height: auto;
  }
  
  .book_details {
    margin-left: 2rem;
  }
  
  .book_details h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .book_description {
    font-size: 1rem;
  }
  
  .book_author {
    cursor: pointer;
  }


  .add_to_cart_button {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add_to_cart_button:hover {
    background-color: #ccc; 
    color: #007bff;
  }

  .item_price {
    font-size: 16px;
    font-weight: 600;
    color: #007bff;
  }